.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xl, 32px);
  width: 295px;
  height: 839px;
  border: silver 1px solid;
}

.form h1 {
  width: 100%;
  color: var(--color-dark-grey, #2a4144);
  /* heading */
  font-family: Karla;
  font-size: var(--font-size-heading, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 32px */
  letter-spacing: -1px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-l, 24px);
}

.fields {
  display: flex;
  height: 83px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs, 8px);
  width: 295px;
}

.radioInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-m, 16px);
  color: var(--color-dark-grey, #2a4144);

  /* body-s */
  font-family: Karla;
  font-size: var(--font-size-body-s, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.radioInputs {
  width: 295px;
  height: 118px;
  overflow: hidden;
}

.radioSelects {
  display: flex;
  padding: var(--spacing-s, 12px) var(--spacing-l, 24px);
  align-items: center;
  gap: var(--spacing-s, 12px);
  border-radius: 8px;
  border: 1px solid var(--color-medium-grey, #86a2a5);
  background: var(--color-pure-white, #fff);
  width: 295px;
  border: silver 1px solid;
  height: 51px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.textSquare {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs, 8px);
  width: 295px;
  height: 272px;
}
