form {
  display: flex;
  padding: var(--spacing-l, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2xl, 40px);
  border-radius: var(--spacing-m, 16px);
  background: var(--color-pure-white, #fff);
}

@media (min-width: 768px) {
  form {
   width: 690px;
  }

  .form{
    border: solid 1px var(--color-medium-grey, #86a2a5);
    width: 690px;
  }

  .fl{
    display: flex;
    flex-direction: row !important;
  }
}
