.success {
  display: flex;
  padding: var(--spacing-l, 24px);
  flex-direction: column;
  gap: var(--spacing-xs, 8px);
  border-radius: var(--spacing-s, 12px);
  background: var(--color-dark-grey, #2a4144);
  color: var(--color-light-green, #e0f1e8);

  /* body-s */
  font-family: "Karla";
  font-size: var(--font-size-body-s, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  position: sticky;
  top: 0px;
  z-index: 1;
}
